.blockfourwrap {
  background-color: #27d87f;
}

.blockfour {
  background-image: url("https://i.ibb.co/W6pV7Cd/footerBg.png");
  width: 100%;
  height: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockfour-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.blockfour-usapart {
  flex: 6;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.blockfour-usapart-top {
  flex: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockfour-usapart-bottom {
  flex: 8;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.blockfour-usapart-bottom-top {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.blockfour-usapart-bottom-bottom {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.spacer {
  flex: 0.6;
}

.blockfour-footer {
  flex: 1;
  padding-top: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
}

.blockfour-horizontal {
  border-top: 1px solid white;
}

.blockfour-footer-container {
  padding: 0px 0px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.blockfour-footer-image {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.blockfour-footer-image-image {
  width: 80%;
}

.blockfour-footer-copyright {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 25px;
  font-weight: 600px;
  text-align: center;
}

.blockfour-footer-links {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.blockfour-footer-links-wrap{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
}

.blockfour-footer-links-linkdln-image,
.blockfour-footer-links-twitter-image {
  width: 50px;
}

/* responsive */
@media only screen and (max-width: 1390px) {
  .blockfour-container {
    width: 83%;
  }

  .blockfour-usapart-h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1300px) {
  .blockfour-container {
    width: 86%;
  }

  .blockfour-usapart-bottom-top {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1235px) {
  .blockfour-container {
    width: 89%;
  }

  .blockfour-usapart-h1 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 1150px) {
  .blockfour-container {
    width: 90%;
  }
}

@media only screen and (max-width: 1100px) {
  .blockfour-usapart-h1 {
    font-size: 33px;
  }

  .spacer {
    flex: 0.4;
  }
}

@media only screen and (max-width: 1050px) {
  .blockfour-container {
    width: 95%;
  }
}

@media only screen and (max-width: 980px) {
  .blockfour-container {
    width: 99%;
  }

  .blockfour {
    height: 1100px;
  }
}

@media only screen and (max-width: 920px) {
  .blockfour-usapart-bottom-bottom {
    display: none;
  }

  .blockfour-usapart-bottom-top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .blockfour-footer{
    justify-content: space-between;
  }

  .blockfour-footer-container {
    flex-direction: column-reverse;
  }

  .blockfour-footer-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
  }

  .blockfour-footer-links-wrap{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .blockfour-footer-image {
    display: none;
  }

  .blockfour-footer-links-linkdln-image,
  .blockfour-footer-links-twitter-image {
    width: 25px;
  }

  .blockfour-footer-copyright {
    width: 100%;
    text-align: center;
  }

  .blockfour-usapart-h1 {
    font-size: 35px;
  }

  .blockfour-footer-container {
    padding: 3px 0px;
  }

  .blockfour-container {
    height: 98%;
  }

  .blockfour-footer {
    align-items: center;
    justify-content: center;
  }

  .blockfour-horizontal {
    width: 80%;
  }
}

@media only screen and (max-width: 790px) {
  .blockfour-usapart-h1 {
    font-size: 32px;
  }

  .blockfour-footer {
    flex: 0.7;
  }

  .blockfour-footer-copyright {
    font-size: 13px;
  }
}

@media only screen and (max-width: 500px) {
  .blockfour-usapart-h1 {
    font-size: 30px;
  }

  .blockfour-footer-copyright {
    font-size: 12px;
  }
}
