.newscard{
    height: 820px;
    width: 730px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newscard-container{
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.newscard-top{
    flex: 2.3;
    background-color: white;
}

.newscard-top-img{
   height: 100%;
   width: 100%;
}

.newscard-bottom{
    flex: 1;
    display: flex;
    padding: 10px;
}

.newscard-bottom-left{
    flex: 3;
    display: flex;
    justify-content: center;
}

.newscard-bottom-left-wrap{
    height: 90%;
    display: flex;
    flex-direction: column;
}

.newscard-bottom-left-h1-wrap{
    flex: 1;
   display: flex;
   align-items: center;

}

.newscard-bottom-left-h1{
    color: #27d87f;
    gap: 0px;
}

.newscard-bottom-left-p-wrap{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.newscard-bottom-right{
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}