.nav-bar-button{
    width: 180px;
    height: 45px;
    margin: 40px;
    background-color: #27d87f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    border-radius: 0.2rem;
    cursor: pointer;
}