.hero-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1b2130;
  background-color: #27d87f;
  top: 70px;
  font-size: 40px;
  height: 800px;

}

.hero-div-wrap {
  height: 90%;
  width: 100%;
  background-size: cover;
  display: flex;
  background-image: url("../../../assets/gmi-alltogether\ copy.ai");
  background-repeat: no-repeat;
  background-size: cover;
}

/* hero-div-wrap */

.hero-div-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innovative-hero {
  width: 30rem;
  height: 30rem;
}

.hero-div-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hero-div-right */

.hero-div-right-div {
  height: 80%;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 25px;
}

.hero-div-right-div-h1{
  font-size: 3rem;
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.hero-div-right-div-p-wrap {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-to-connect-wrap {
  flex: 1;
}

.button-to-connect {
  background-color: white;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  color: #1b2130;
  height: 43px;
  outline: none;
  border: none;
  cursor: pointer;
}

.hero-div-right-div-p {
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-weight: 150;
}

.hero-space{
  height: 10%;
}

/* mobile */

@media only screen and (max-width: 1484px) {
  .hero-div-right-div{
    width: 85%;
  }
}

@media only screen and (max-width: 1150px){
  .hero-div-right-div{
    height: 85% ;
  }
  .hero-div-right{
    width: 90%;
    
  }

  .hero-div-right-div-p{
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1050px){
  .hero-div-right-div-h1{
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 970px){
  .hero-div-right-div-h1{
    font-size: 2.6rem;
  }

  .hero-div-right-div-p{
    font-size: 1.1rem;
  }

  .hero-div-right{
    margin-left: 4%;
  }
}

@media only screen and (max-width: 890px){
  .hero-div{
    height:1000px;
  }

  .hero-div-wrap{
   flex-direction: column; 
   height: 85%;
   margin-top: 10%;
  }

  .hero-div-left{
    flex: 1;
  }

  .hero-div-right{
   width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 9%;
  }

  .innovative-hero{
    height: 22rem;
    width: 22rem;
  }

  .button-to-connect-wrap{
    margin-top: 9%;
  }

  @media only screen and (max-width: 604px){
    .innovative-hero{
      width: 20rem;
      height: 20rem;
    }

    .hero-div-right-div-p{
      font-size: 1rem;
    }
  }

  @media only screen and (max-width: 530px){
    .innovative-hero{
      width: 19rem;
      height: 19rem;
    }
  }
  
  @media only screen and (max-width: 478px){
    .hero-div{
      height: 950px;
    }
    .innovative-hero{
      width: 15rem;
      height: 15rem;
    }

    .hero-div-right{
      margin-top: 8%;
    }
  }
}

@media only screen and (max-width: 400px){
  .hero-div{
    height: 950px;
  }

  .hero-div-right-div-p{
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 371px){
  .hero-div-right-div-p{
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 324px){
  .hero-div{
    height: 1000px;
  }
}

@media only screen and (max-width: 302px){
  .hero-div{
    height: 900px;
  }

  .innovative-hero{
    width: 10rem;
    height: 10rem;
  }

  .hero-div-right-div-h1{
    font-size: 2rem;
  }

  .hero-div-right-div-p{
    font-size: 0.8rem;
  }

}