.nav-bar-options-div {
  color: #1b2130;
  background-color: white;
  overflow-x: hidden;
  display: none;
}

.nav-bar-options-div-inner {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-bar-options-div-content {
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.nav-bar-options-div-p {
  margin-bottom: 6%;
  color: #1b2130;
}

.nav-bar-options-div-img{
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .nav-bar-options-div-img-img{
  height: 150px;
  width: 300px;
} */

@media only screen and (max-width: 1240px) {
  .nav-bar-options-div {
    display: block;
    height: 100vh;
    color: #1b2130;
    background-color: white;
    overflow-x: hidden;
    position: static;
  }
}
