.Home-top{
  height: 70px;
}

.Home-hidden {
  display: none;
}

.Home{
  position: sticky;
}

.connect-wallet-container{
  height: 100vh;
  width: 100vw;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.connect-wallet-container-img-logo-wrap{
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connect-wallet-container-img-logo{
  height: 900px;
  width: 900px;
  margin-top: -15%;
}

/* mobile */
@media only screen and (max-width: 640px){
  .connect-wallet-container-img-logo{
    height: 700px;
    width:700px;
  }
}

@media only screen and (max-width: 500px){
  .connect-wallet-container-img-logo{
    height: 600px;
    width:600px;
  }
}

@media only screen and (max-width: 450px){
  .connect-wallet-container-img-logo{
    height: 550px;
    width:500px;
  }
}


@media only screen and (max-width: 380px){
  .connect-wallet-container-img-logo{
    height: 500px;
    width:500px;
  }
}