.coop-component {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  border-radius: 10px 50px;
}

/* .coop-component-left */

.coop-component-left {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1b2130;
}

.coop-component-left-inner {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

/* .coop-component-left-inner */
.coop-component-left-top {
  flex: 3;
}

.coop-component-left-bottom {
  flex: 5;
  background-color: white;
  border: 4px solid #1b213f;
  margin-left: -120px;
  margin-bottom: -30px;
  border-radius: 25px 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.coop-component-left-bottom-inner {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coop-component-left-top-p {
  font-size: 14px;
}

.coop-component-left-bottom-inner-h3 {
  display: flex;
  align-items: flex-end;
  margin: 0px;
  padding: 0px;
}
/* .coop-component-right */

.coop-component-right {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coop-component-right-inner {
  width: 90%;
  height: 90%;
}

.coop-component-right-inner-img {
  height: 350px;
  width: 350px;
  margin-top: -100px;
  margin-right: -100px;
}

/* mobile */
@media only screen and (max-width: 450px) {
  .coop-component{
    border-radius: 10px 30px;
  }
  
  .coop-component-right {
    display: none;
  }
  .coop-component-left-bottom{
      display: none;
  }
  .coop-component-left-top{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
  }
}
