.dashboard-controls{
    flex: 1;
    background-color: #27D87F;
    color: white;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-controls-inner{
    width: 95%;
    height: 95%;
}