.lets-cooperate-div {
  width: 100%;
  background-color: #1b2130;
  height: 700px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* lets-cooperate-div-inner */
.lets-cooperate-div-inner {
  width: 90%;
  height: 95%;
  display: flex;
  flex-direction: column;
}

.lets-cooperate-div-inner-top {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* lets-cooperate-div-inner-top */

.lets-cooperate-div-inner-top-h1 {
  text-align: center;
  display: flex;
  align-items: flex-end;
  padding: 0px;
  margin: 0px;
}

.lets-cooperate-div-inner-top-p {
  text-align: center;
  height: 30%;
  width: 50%;
}

/* lets-cooperate-div-inner-bottom */

.lets-cooperate-div-inner-bottom {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.lets-cooperate-div-inner-bottom-buttons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.lets-cooperate-div-inner-bottom-display {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lets-cooperate-div-inner-bottom-button-team,
.lets-cooperate-div-inner-bottom-button-project,
.lets-cooperate-div-inner-bottom-button-Time,
.lets-cooperate-div-inner-bottom-button-customized {
  height: 50%;
  width: 18%;
  color: #1b2130;
  outline: none;
  border: none;
  background-color: white;
  font-size: 14px;
  border-radius: 0.2rem;
  cursor: pointer;
}

.lets-cooperate-div-inner-bottom-buttons-selected {
  height: 55%;
  width: 21%;
  background-color: #27d87f;
  outline: none;
  border: none;
  color: #1b2130;
  font-size: 16px;
  border-radius: 0.2rem;
  cursor: pointer;
}

.lets-cooperate-div-inner-bottom-display-inner {
  height: 70%;
  width: 70%;
}

.lets-cooperate-div-inner-round-buttons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.lets-cooperate-div-inner-round-buttons-in {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.lets-cooperate-div-inner-bottom-round-team,
.lets-cooperate-div-inner-bottom-round-project,
.lets-cooperate-div-inner-bottom-round-Time,
.lets-cooperate-div-inner-bottom-round-customized {
  height: 20px;
  width: 20px;
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
}

.lets-cooperate-div-inner-bottom-round-selected {
  height: 20px;
  width: 20px;
  outline: none;
  border: none;
  background-color: #27d87f;
  cursor: pointer;
  border-radius: 50%;
}

/* mobile */

@media only screen and (max-width: 1160px) {
  .lets-cooperate-div-inner {
    width: 100%;
  }
}

@media only screen and (max-width: 890px) {
  .lets-cooperate-div {
    height: 600px;
  }

  .lets-cooperate-div-inner-top {
    flex: 2;
  }

  .lets-cooperate-div-inner-bottom-display {
    flex: 3;
  }

  .lets-cooperate-div-inner-bottom-buttons {
    display: none;
  }

  .lets-cooperate-div-inner-top-p {
    text-align: center;
    height: 40%;
    width: 70%;
  }

  .lets-cooperate-div-inner-round-buttons {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 500px) {
  .lets-cooperate-div-inner-top-h1 {
    font-size: 1.6rem;
  }

  .lets-cooperate-div-inner-round-buttons-in{
    width: 70%;
  }

  .lets-cooperate-div-inner-bottom-round-team,
.lets-cooperate-div-inner-bottom-round-project,
.lets-cooperate-div-inner-bottom-round-Time,
.lets-cooperate-div-inner-bottom-round-customized {
  height: 17px;
  width: 17px;
  outline: none;
}
}
