.header-div-wrap {
  width: 100%;
}

.header-div {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  flex-direction: column;
  box-shadow: 0 5px 15px rgba(0, 0, 0 , 0.2);
}

.header-div-inner {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.header-wrap {
  height: 70px;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .header-left */

.header-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gmi-header-logo {
  height: 100%;
  width: 250px;
  cursor: pointer;
  object-fit: contain;
}

/* nav */

nav {
  flex: 3;
  display: flex;
  flex-direction: row;
}
/* header-right */

.header-right {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-right-connect-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.header-right-connect {
  background-color: #27d87f;
  height: 60px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  color: #1b2130;
  cursor: pointer;
  font-size: 19px;
}

.button-to-more {
  background-color: #27d87f;
  height: 40px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.3rem;
  color: #1b2130;
}

.header-right-welcome-text {
  font-size: 22px;
}

.header-right-clients-text,
.header-right-welcome-text,
.header-right-connect-text {
  cursor: pointer;
}

.header-menu-icon {
  cursor: pointer;
}

.header-menu-wrap {
  display: none;
}

/* mobile */

@media only screen and (max-width: 1240px) {
  .header-left-title {
    display: none;
  }

  /* ------ */

  .header-div-wrap-ststic {
    position: static;
  }

  .header-div {
    position: fixed;
    top: 0;
    width: 100vw;
  }

  .header-right-crypto,
  .header-right-nft,
  .header-right-services {
    display: none;
  }

  .header-right-connect {
    font-size: 18px;
    width: 300px;
  }

  .header-menu-wrap {
    display: block;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-menu-wrap-inner {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30%;
  }

  .header-menu-icon {
    height: 40px;
    width: 40px;
  }
}
@media only screen and (max-width: 970px) {
  .button-div-white,
  .button-div-green {
    width: 320px;
    font-size: 22px;
  }

  .header-right-connect {
    width: 270px;
    font-size: 17px;
  }
}



@media only screen and (max-width: 890px) {
  .header-right-connect {
    width: 250px;
    font-size: 16.5px;
    height: 45px;
  }
}

@media only screen and (max-width: 786px) {
  .header-right-connect {
    width: 150px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 560px) {
  .gmi-header-logo {
    width: 170px;
  }
}

@media only screen and (max-width: 478px) {
   .header-right-connect {
    width: 130px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 450px) {
  .header-left {
    flex: 1;
  }

  .gmi-header-logo {
    width: 150px;
  }

  .header-right {
    flex: 2;
  }

  .header-menu-wrap {
    flex: 1;
  }

  .gmi-header-logo {
    width: 150px;
  }

}


