.blockone {
  width: 100%;
  height: 800px;
  background-color: transparent;
  display: flex;
}

.blockone-dark {
  background-color: #1b2130;
  color: white;
}

.blockone-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
}

.blockone-imgone {
  display: flex;
  align-items: center;
  flex: 1;
}

.blockonea {
  height: 80%;
  width: 280px;
}

.blockone-text {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockone-text-container {
  width: 100%;
  height: 63%;
  display: flex;
  flex-direction: column;
}

.blockone-text-h1 {
  color: #27d87f;
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 45px;
}

.blockone-text-p-wrap {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.blockone-text-button {
  flex: 1;
}

.blockone-imgtwo {
  flex: 2.5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.blockoneb {
  height: 84%;
  width: 600px;
}

/* responsive */

@media only screen and (max-width: 1700px) {
  .blockonea {
    width: 220px;
  }
}

@media only screen and (max-width: 1600px) {
  .blockonea {
    height: 70%;
    width: 210px;
  }

  .blockoneb {
    width: 590px;
  }
}

@media only screen and (max-width: 1470px) {
  .blockonea {
    height: 70%;
    width: 200px;
  }

  .blockoneb {
    width: 540px;
  }

  .blockone-text-h1 {
    font-size: 43px;
  }

  P {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1390px) {
  .blockonea {
    width: 170px;
    height: 68%;
  }

  .blockoneb {
    height: 80%;
    width: 530px;
  }

  .blockone-text-h1 {
    font-size: 41px;
  }

  P {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1300px) {
  .blockonea {
    width: 160px;
    height: 67%;
  }

  .blockoneb {
    height: 78%;
    width: 520px;
  }

  .blockone-text-h1 {
    font-size: 40px;
  }

  P {
    font-size: 13.5px;
  }

  .blockone-text-container {
    height: 59%;
  }
}

@media only screen and (max-width: 1250px) {
  .blockonea {
    width: 150px;
    height: 60%;
  }

  .blockoneb {
    width: 510px;
  }

  .blockone-text-h1 {
    font-size: 39px;
  }

  P {
    font-size: 13px;
  }

  .blockone-text-container {
    height: 58%;
  }
}

@media only screen and (max-width: 1235px) {
  .blockonea {
    width: 150px;
  }

  .blockoneb {
    width: 500px;
  }

  .blockone-text-h1 {
    font-size: 35px;
  }

  P {
    font-size: 13px;
  }

  .blockone-text-container {
    height: 57%;
  }
}

@media only screen and (max-width: 1150px) {
  .blockonea {
    width: 140px;
    height: 55%;
  }

  .blockoneb {
    width: 490px;
    height: 75%;
  }

  .blockone-text-container {
    height: 56%;
  }
}

@media only screen and (max-width: 1100px) {
  .blockone {
    height: 750px;
  }
  .blockonea {
    width: 130px;
  }

  .blockoneb {
    width: 450px;
    height: 75%;
  }

  .blockone-text-h1 {
    font-size: 33px;
  }

  P {
    font-size: 12px;
  }

  .blockone-text-container {
    height: 55%;
  }
}

@media only screen and (max-width: 1050px) {
  .blockonea {
    width: 130px;
    height: 55%;
  }

  .blockoneb {
    width: 440px;
    height: 70%;
  }
}

@media only screen and (max-width: 980px) {
  .blockonea {
    width: 110px;
    height: 50%;
  }

  .blockoneb {
    width: 400px;
    height: 68%;
  }
}

@media only screen and (max-width: 920px) {
  .blockone {
    height: 1000px;
  }
  .blockone-imgone {
    display: none;
  }
  .blockone-container {
    flex-direction: column-reverse;
  }

  .blockone-text-container {
    height: 98%;
    width: 80%;
  }
  .blockone-imgtwo {
    height: 580px;
  }

  .blockoneb {
    width: 430px;
    height: 78%;
  }

  .blockone-text-h1 {
    font-size: 35px;
  }

  P {
    font-size: 15px;
  }

  .blockone-imgtwo {
    flex: 1.5;
  }
}

@media only screen and (max-width: 720px) {
  .blockoneb {
    width: 370px;
  }

  .blockone-text-h1 {
    font-size: 32px;
  }

  P {
    font-size: 13px;
  }
}

@media only screen and (max-width: 580px) {
  .blockoneb {
    width: 350px;
  }

  .blockone-imgtwo {
    height: 580px;
  }
}

@media only screen and (max-width: 500px) {
  .blockoneb {
    width: 320px;
  }

  .blockone-text-container {
    width: 83%;
  }

  .blockone-text-h1 {
    font-size: 30px;
  }

  P {
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  .blockoneb {
    width: 300px;
  }

  .blockone-imgtwo {
    height: 100%;
  }

  .blockone-text-container {
    width: 85%;
  }
}

@media only screen and (max-width: 420px) {
}

@media only screen and (max-width: 400px) {
}
