.copy-right-div {
  width: 100%;
  display: flex;
  color: #1b2130;
  background-color: white;
  z-index: 999;
  flex-direction: column;
  height: 170px;
  padding-bottom: 20px;
}

.copy-right-div-img{
  height: 100px;
  width: 500px;
}

.copy-right-div-top {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.copy-right-div-bottom {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* mobile */

@media only screen and (max-width: 490px) {
  .copy-right-div {
    font-size: 10px;
  }
} 
