.copy-right-div {
  width: 100%;
  display: flex;
  color: #1b2130;
  background-color: white;
  z-index: 999;
  flex-direction: column;
  height: 300px;
  padding-bottom: 20px;
  justify-content: space-around;
}

.copy-right-div-img{
  height: 100px;
  width: 500px;
}

.copy-right-div-top {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.copy-right-div-top-logo{
  height: 20%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.copy-right-div-top-logo-img{
  height: 50px;
  width: 300px;
}

.copy-right-div-top-socials{
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copy-right-div-top-socials-twitter,
.copy-right-div-top-socials-linkdln{
  flex: 1;
}


.copy-right-div-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* mobile */

@media only screen and (max-width: 490px) {
  .copy-right-div {
    font-size: 10px;
  }

  .copy-right-div-top-logo-img{
    width: 200px;
  }
} 
