.copy-right-div{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1b2130;
    background-color: white;
    z-index: 999;
}

/* mobile */

@media only screen and (max-width: 450px){
    .copy-right-div{
        font-size: 10px;
    }
}