.nft-div {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1b2130;
  margin: 0px;
  padding: 0px;
}

.nft-div-wrap {
  height: 90%;
  width: 100%;
  background-color: #27d87f;
  background-size: cover;
  display: flex;
}

/* .nft-div-left
   */
.nft-div-left {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.nft-div-left-in-top {
  width: 80%;
  height: 30%;
  display: flex;
  align-items: center;
}

.nft-div-left-in-bottom {
  width: 80%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nft-nft-img {
  width: 100%;
  height: 60%;
}

/* hero-div-right */

.nft-div-right {
  flex: 1;
  display: flex;
  align-items: center;
}

.nft-div-right-div {
  height: 70%;
  width: 70%;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.nft-div-right-div-h1 {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.nft-div-right-div-p-wrap {
  flex: 2.5;
}

.nft-div-right-div-p {
  font-size: 14px;
  font-weight: 150;
}

.button-to-more-wrap-nft {
  background-color: #27d87f;
  display: flex;
  align-items: center ;
  justify-content: center;
}

.button-to-more {
  background-color: white;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  color: #1b2130;
  /* height: 43px; */
  outline: none;
  border: none;
  cursor: pointer;
}

/* mobile */
@media only screen and (max-width: 450px) {
  .nft-div {
    height: 700px;
  }
  .nft-div-wrap {
    flex-direction: column;
    height: 100%;
  }

  .nft-div-left {
    height: 30%;
  }

  .nft-div-right {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15%;
  }

  .nft-div-left-in-top {
    flex: 1;
    margin-top: 15%;
  }

  .nft-div-left-in-bottom {
    flex: 1;
    margin-bottom: 15%;
  }

  .nft-nft-img {
    width: 100%;
    height: 100%;
  }

  .nft-div-left-top {
    width: 50%;
    height: 100%;
  }

  .nft-div-left-bottom {
    width: 50%;
    height: 100%;
  }

  .nft-div-right-div {
    height: 100%;
    width: 80%;
  }

  .space-nft{
    height: 20%;
  }
}
