.nft-div {
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0px;
  padding: 0px;
  z-index: 20;
  background-color: #1b2130;
}

.nft-div-wrap {
  height: 95%;
  width: 100%;
  background-color: #1b2130;
  background-size: cover;
  display: flex;
}

/* .nft-div-left
   */
.nft-div-left {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.nft-div-left-in-top {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft-div-left-in-bottom {
  width: 80%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nft-store-img{
  height: 40rem;
  width: 40rem;
}

/* hero-div-right */

.nft-div-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft-div-right-div {
  height: 80%;
  width: 70%;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.nft-div-right-div-h1 {
  flex: 1;
  display: flex;
  align-items: flex-end;
  font-size: 2.5rem;
}

.nft-div-right-div-p-wrap {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nft-div-right-div-p {
  font-size: 1.2rem;
  line-height: 1.9rem;
  font-weight: 150;
}

.nft-div-right-div-button {
  background-color: #27d87f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-to-more {
  background-color: white;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  color: #1b2130;
  /* height: 43px; */
  outline: none;
  border: none;
  cursor: pointer;
}

/* mobile */
@media only screen and (max-width: 1378px) {
  .nft-div-right {
    margin-left: 4%;
  }

  .nft-div-right-div {
    width: 80%;
  }

  .nft-store-img{
    height: 36rem;
    width: 35rem;
  }
}

@media only screen and (max-width: 1250px) {
  .nft-div-right-div-p {
    font-size: 1.1rem;
  }

  .nft-div-right-div-h1{
    font-size: 2.4rem;
  }

  .nft-store-img{
    height: 35rem;
    width: 34rem;
  }
  .nft-div-right-div {
    width: 85%;
  }
}

@media only screen and (max-width: 1150px) {
  .nft-div-right-div-p {
    font-size: 1rem;
  }

  .nft-store-img{
    height: 32rem;
    width: 32rem;
  }
}

@media only screen and (max-width: 1010px) {
  .nft-store-img{
    height: 30rem;
    width: 30rem;
  }

  .nft-div-left-in-top {
    flex: 1;
  }

  .nft-div-left-in-bottom {
    flex: 1;
  }
}

@media only screen and (max-width: 980px) {
  .nft-div-right-div-h1 {
    font-size: 2.2rem;
  }

  .nft-div-right-div-p {
    font-size: 0.9rem;
  }

  .nft-div-right-div {
    height: 80%;
  }

  .nft-store-img{
    height: 29rem;
    width: 29rem;
  }
}

@media only screen and (max-width: 890px) {
  .nft-div {
    height: 1300px;
  }

  .nft-div-wrap{
    height: 90%;
  }

  .nft-div-wrap {
    flex-direction: column;
  }

  .nft-store-img{
    height: 29rem;
    width: 36rem;
  }

  .nft-div-left-in-bottom {
    margin-right: 10%;
  }
}

@media only screen and (max-width: 980px) {
  .nft-nft-img {
    height: 14rem;
    width: 14rem;
  }


  .nft-div-left-in-bottom {
    margin-right: 13%;
  }
}

@media only screen and (max-width: 640px){
  .nft-nft-img{
    height: 13rem;
    width: 13rem;
  }

  .nft-store-img{
    height: 29rem;
    width: 34rem;
  }

}

@media only screen and (max-width: 620px) {
  .nft-div-right-div-p {
    font-size: 0.8rem;
  }


  .nft-store-img{
    height: 27rem;
    width: 32rem;
  }
}

@media only screen and (max-width: 590px){
  .nft-store-img{
    height: 27rem;
    width: 30rem;
  }
}

@media only screen and (max-width: 500px){
  .nft-store-img{
    height: 24rem;
    width: 25rem;
  }

  .nft-div-right-div{
    height: 90%;
  }
}

@media only screen and (max-width: 500px){
  .nft-nft-img{
    height: 9rem;
    width: 9rem;
  }

  .nft-div-right-div{
    height: 95%;
  }

  .nft-div-right-div-p{
    font-size: 0.9rem;
  }

  .nft-div-right-div-button{
    margin-top: 10%;
  }
}



@media only screen and (max-width: 420px){
  .nft-store-img{
    height: 23rem;
    width: 23rem;
  }

}

@media only screen and (max-width: 402px){
  .nft-div-left{
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 385px){
  .nft-div-left-in-top {
    margin-left: 0;
  }

  .nft-div-left-in-bottom {
    margin-right: 0;
  }

  .nft-store-img{
    height: 21rem;
    width: 21rem;
  }
}