.nft-div {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0px;
  padding: 0px;
  z-index: 20;
  background-color: #1b2130;
}

.nft-div-wrap {
  height: 90%;
  width: 100%;
  background-color: #1b2130;
  background-size: cover;
  display: flex;
}

/* .nft-div-left
   */
.nft-div-left {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.nft-div-left-in-top {
  width: 80%;
  height: 30%;
  display: flex;
  align-items: center;
}

.nft-div-left-in-bottom {
  width: 80%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nft-nft-img {
  width: 100%;
  height: 60%;
}

/* hero-div-right */

.nft-div-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft-div-right-div {
  height: 70%;
  width: 70%;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.nft-div-right-div-h1 {
  flex: 1;
  display: flex;
  align-items: flex-end;
  font-size: 3rem;
}

.nft-div-right-div-p-wrap {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nft-div-right-div-p {
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-weight: 150;
}

.nft-div-right-div-button {
  background-color: #27d87f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-to-more {
  background-color: white;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  color: #1b2130;
  /* height: 43px; */
  outline: none;
  border: none;
  cursor: pointer;
}

/* mobile */
@media only screen and (max-width: 1378px) {
  .nft-div-right {
    margin-left: 4%;
  }

  .nft-div-right-div {
    width: 80%;
  }
}

@media only screen and (max-width: 1250px) {
  .nft-div-right-div-p {
    font-size: 1.2rem;
  }
  .nft-nft-img {
    height: 15rem;
    width: 15rem;
  }
}

@media only screen and (max-width: 1250px) {
  .nft-div-right-div {
    width: 85%;
  }
}

@media only screen and (max-width: 1010px) {
  .nft-nft-img {
    height: 13rem;
    width: 13rem;
  }

  .nft-div-left-in-top {
    flex: 1;
  }

  .nft-div-left-in-bottom {
    flex: 1;
  }
}

@media only screen and (max-width: 980px) {
  .nft-div-right-div-h1 {
    font-size: 2.6rem;
  }

  .nft-div-right-div-p {
    font-size: 1.1rem;
  }

  .nft-div-right-div {
    height: 80%;
  }
}

@media only screen and (max-width: 890px) {
  .nft-div {
    height: 1000px;
  }

  .nft-div-wrap{
    height: 90%;
  }

  .nft-div-wrap {
    flex-direction: column;
  }

  .nft-nft-img {
    height: 16rem;
    width: 16rem;
  }

  .nft-div-left-in-top {
    margin-left: 10%;
  }

  .nft-div-left-in-bottom {
    margin-right: 10%;
  }
}

@media only screen and (max-width: 980px) {
  .nft-nft-img {
    height: 14rem;
    width: 14rem;
  }

  .nft-div-left-in-top {
    margin-left: 13%;
  }

  .nft-div-left-in-bottom {
    margin-right: 13%;
  }
}

@media only screen and (max-width: 640px){
  .nft-nft-img{
    height: 13rem;
    width: 13rem;
  }
}

@media only screen and (max-width: 590px){
  .nft-nft-img{
    height: 12rem;
    width: 12rem;
  }
}

@media only screen and (max-width: 500px){
  .nft-nft-img{
    height: 10rem;
    width: 10rem;
  }

  .nft-div-right-div{
    height: 90%;
  }
}

@media only screen and (max-width: 500px){
  .nft-div{
    height: 800px;
  }

  .nft-nft-img{
    height: 9rem;
    width: 9rem;
  }

  .nft-div-right-div{
    height: 95%;
  }

  .nft-div-right-div-p{
    font-size: 0.9rem;
  }

  .nft-div-right-div-button{
    margin-top: 10%;
  }
}

@media only screen and (max-width: 402px){
  .nft-div-left{
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 402px){
  .nft-div-left{
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 385px){
  .nft-div-left-in-top {
    margin-left: 0;
  }

  .nft-div-left-in-bottom {
    margin-right: 0;
  }
}