.news{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.news-container{
    height: 96%;
    width: 96%;
    display: flex;
    flex-direction: column;
}

.news-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 0;
}

.news-top-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* responsive */
  
  @media only screen and (max-width: 1550px) {
  }

  @media only screen and (max-width: 1470px) {
  }
  
  @media only screen and (max-width: 1390px) {
  }
  
  @media only screen and (max-width: 1300px) { 
  }
  
  @media only screen and (max-width: 1250px) {
      .news-top-container{
          flex-direction: column;
      }
  }
  
  @media only screen and (max-width: 1235px) {

  }
  
  @media only screen and (max-width: 1150px) {

  }
  
  @media only screen and (max-width: 1100px) {
  

  }
  
  @media only screen and (max-width: 1050px) {
 
  }
  
  @media only screen and (max-width: 980px) {
  
  }
  
  @media only screen and (max-width: 920px) {

  }
  
  @media only screen and (max-width: 720px) {
  }
  
  @media only screen and (max-width: 580px) {
  }
  
  @media only screen and (max-width: 500px) {

  }
  
  @media only screen and (max-width: 450px) {

  }
  
  @media only screen and (max-width: 420px) {
  }

  @media only screen and (max-width: 380px) {
  }
  
