.news{
    height: 1800px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-container{
    height: 96%;
    width: 96%;
    display: flex;
    flex-direction: column;
}

.news-top{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.news-top-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.news-bottom{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.news-bottom-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}