* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a{
  color: black;
}

b

html{
  -webkit-overflow-scrolling: auto;
}

body,h1,h2,h3,h4,h5,h6,p,div{
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  width: 100vw !important;
  font-family: 'Poppins', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;;
}
